* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    display: block;
    padding: 1em;
}

body {
    background-image: url(woodbg.jpeg);
}

section {
    margin: 1em;
    padding: 2em;
    background-color: burlywood;
    font-family: sans-serif;
    opacity: 0.9;
}

.image {
    height: auto;
    width: auto;
}

.wireframe {
    display: block;
    background: url(billeder/wireframe_web.png);
    width: 900px;
    height: 1963px;
}

.fotostil {
    display: block;
    background: url(billeder/fotostil.jpg);
    width: 1097px;
    height: 768px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
}
